@using MvcPaging
@model IPagedList<Rajpal.Models.PropertyModell>
<div class="listing-sort listing-sort--main-listing">
    <div class="listing-sort__inner">
        <ul class="listing-sort__list">
            <li id="List" class="listing-sort__item ListOrGrid"><a href="#" class="listing-sort__link listing-sort__link--active"><i class="fa fa-th-list" aria-hidden="true" class="listing-sort__icon"></i></a></li>
            <li id="Grid" class="listing-sort__item ListOrGrid"><a href="#" class="listing-sort__link"><i class="fa fa-th-large" aria-hidden="true" class="listing-sort__icon"></i></a></li>
        </ul>

        <span class="listing-sort__result">Total Record Found @ViewBag.TotalData</span>

        <p class="listing-sort__sort">
            <label for="sort-type" class="listing-sort__label"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i> Sort by </label>
            <select name="sort-type" id="sort-type" class="ht-field listing-sort__field listing-sort__field  dp_setting dk-selected sort-type-grid">
                <option value="default">Default</option>
                <option value="low-price">Price (Low to High)</option>
                <option value="high-price">Price (High to Low)</option>

            </select>
        </p><!-- .listing-sort__sort -->
    </div><!-- .listing-sort__inner -->
</div><!-- .listing-sort -->
<section class="main-listing__item-grid">

    @foreach (var item in Model)
        { <div class="item-grid__container @(@item.VOX && Session["UserId"] == null ? "property_item_hidden2 text-hidden2" : "")">
        @if (@item.VOX &&  Session["UserId"] == null)
            {
            <img src="../content/images/lock.png" height="150px" width="150px" class="img-hidden2">
            <center><h1 class="locked">SEE WHAT REALTORS SEE</h1></center>
            <h3><span><i class="fa fa-lock" aria-hidden="true"></i> FREE VIP Account Required</span></h3>
}
        <div class="listing @(@item.VOX && Session["UserId"] == null ? "property_item_blur" : "")">
            <div class="item-grid__image-container">
                <a>
                    <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                    <img src="@item.pImage" alt="@item.Style in @item.Area" class="listing__img">

                    <span id="@item.MLS" class="listing__favorite @(@item.exist != null && Session["UserId"] != null ? "background-red" : "") @(@item.VOX && Session["UserId"] == null ? "disabled" : "")"><i class="fa fa-heart @(@item.exist != null && Session["UserId"] != null ? "color-red" : "")" aria-hidden="true"></i></span>
                </a>
            </div>

            <div class="item-grid__content-container">

                <div class="listing__content width-100">
                    <p class="listing__price font-size-18"><b>@item.TypeOwn1Out</b><a class="appointment float-right @(@item.VOX ?"disabled":"")">Appointment</a></p>

                    <h5 class="listing__title h5_font"><b>MLS:</b> #@item.MLS</h5>
                    <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> @item.Address, @item.Municipality, @item.PostalCode, @item.Province </p>
                    <p class="listing__price color-red">@item.ListPrice</p>
                    <div class="listing__details">
                        <ul class="listing__stats">
                            @if (@ViewBag.Type != "Commercial")
                                {
                                    if (item.Bedrooms == "null")
                                    {
                                        <li><span class="listing__figure"><img src="../content/images/nt.png"></span>  Beds</li>
                                    }
                                    else
                                    {
                                        <li><span class="listing__figure">@item.Bedrooms<sup>&plus;</sup></span> Beds</li>
                                    }

                                    if (item.Washrooms == null)
                                    {
                                        <li><span class="listing__figure"><img src="../content/images/nt.png"></span>  Baths</li>
                                    }
                                    else
                                    {
                                        <li><span class="listing__figure">@item.Washrooms</span> Baths</li>
                                    }


                                }
                            @if (item.ApproxSquareFootage == "null")
                                {
                                <li><span class="listing__figure"><img src="../content/images/nt.png"></span>  sq.ft</li>
                                }
                                else
                                {
                                <li><span class="listing__figure">@item.ApproxSquareFootage</span> sq.ft</li>
                                }


                        </ul><!-- .listing__stats -->
                        <a href="#" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                    </div><!-- .listing__details -->
                </div><!-- .listing-content -->
            </div>
        </div><!-- .listing -->
    </div><!-- .col -->
    }

@if(@ViewBag.TotalData>0)
    {
    <div class="pager1">
        @Html.Raw(Ajax.Pager(
            new Options
            {
                PageSize = Model.PageSize,
                TotalItemCount = Model.TotalItemCount,
                CurrentPage = Model.PageNumber,
                ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous", Page = "P" },
                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." },
                Size = Size.normal,
                Alignment = Alignment.centered,
                IsShowControls = true,
                IsShowFirstLast = true,
                CssClass = ""
            },
            new AjaxOptions
            {
                UpdateTargetId = "grid-list",
                OnBegin = "beginPaging",
                OnSuccess = "successPaging",
                OnFailure = "failurePaging"
            }, new { controller = "Property", action = "Index", IsList = "Grid" }))
        
    </div>
}
</section><!-- .main-listing__item-grid -->
@*<script>
        $(function () {
            $(".page-number").click(function () {
                debugger;
                var page = parseInt($(this).html());

                $.ajax({
                    url: '@Url.Action("Index", "Property")',
                    dataType: "html",
                    type: "POST",
                    cache: false,
                    data: { Type: '', IsList: $(this).attr('id'), page: page },
                    success: function (data) {
                        debugger;
                        $("#SearchViewDiv").html('');
                        $("#SearchViewDiv").html(data);
                    }
                });
            });

            $(".pagination__link_prev").click(function () {
                debugger;
                var selectedPage = $('.pagination__link--selected').attr('id');
                var page = parseInt(selectedPage) - 1;
                var islist = $('.pagination__link--selected').attr('data-role');
                $.ajax({
                    url: '@Url.Action("Index", "Property")',
                    dataType: "html",
                    type: "POST",
                    cache: false,
                    data: { Type: '', IsList: islist, page: page },
                    success: function (data) {
                        debugger;
                        $("#SearchViewDiv").html('');
                        $("#SearchViewDiv").html(data);
                    }
                });
            });
        });


    </script>*@
