@model Rajpal.Helpers.PagedData<Rajpal.Models.PropertyModell>

<section class="main-listing__item-grid">
@foreach (var item in Model.Data)
    {

    <div class="item-grid__container">
        <div class="listing">
            <div class="item-grid__image-container">
                <a href="single_property_1.html">
                    <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                    <img src="@item.pImage" alt="@item.Style in @item.Area" class="listing__img">
                    <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                </a>
            </div>
            <div class="item-grid__content-container">
                <div class="listing__content">
                    <h3 class="listing__title"><a href="single_property_1.html">@item.TypeOwn1Out</a></h3>
                    <p class="listing__price"><b>MLS:</b> #@item.MLS</p>
                    <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> @item.Address, @item.Municipality, @item.PostalCode, @item.Province </p>
                    <p class="listing__price">@item.ListPrice</p>
                    <div class="listing__details">
                        <ul class="listing__stats">
                            <li><span class="listing__figure">@item.Bedrooms<sup>&plus;</sup></span> Beds</li>
                            <li><span class="listing__figure">@item.Washrooms</span> Baths</li>
                            <li><span class="listing__figure">@item.ApproxSquareFootage</span> sq.ft</li>
                        </ul><!-- .listing__stats -->
                        <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                    </div><!-- .listing__details -->
                </div><!-- .listing-content -->
            </div>
        </div><!-- .listing -->
    </div><!-- .col -->
}
</section><!-- .main-listing__item-grid -->
