<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <meta name="description" content="ReaLand - Real Estate HTML Template">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="">
    <!-- <link rel="shortcut icon" href="images/favicon.ico"> -->
    <!-- Mobile specific meta -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone-no">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- External Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:700,800|Roboto:400,500,700" rel="stylesheet">


 
    @Styles.Render("~/Content/home")
        @Styles.Render("~/Content/custom")
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>

    @{
        Html.RenderPartial("Header_Partial");
    }

    
   
        @RenderBody()

    @{
        Html.RenderPartial("Footer_Partial");
    }


    @Scripts.Render("~/bundles/home")
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyCxHyc8z9gMA5IlipXpt0c33Ajzqix4"></script>
    <script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js"></script>*@
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-1.8.3.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive-custom-for-bootstrap.js"></script>
  
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script>
      
        $(function () {
            $("#txtdatepicker").datepicker();
            $(".phn").mask("(999) 999-9999");
            $('.appointment').click(function (event) {
                debugger;
                $('#modal-dialog').modal('show')
            });
           
            FillDropdown_PropertType("");
            $('input[name=Type]').change(function () {
                debugger;
                
              
                var selectedDT = $(this).val();
                if (selectedDT == "Residential")
                {
                    $("#rb1").attr("checked", true);
                    $("#rb2").attr("checked", false);
                    $("#rb3").attr("checked", false);
                }
                else if (selectedDT == "Commercial") {
                    $("#rb1").attr("checked", false);
                    $("#rb2").attr("checked", true);
                    $("#rb3").attr("checked", false);
                }
                else {
                    $("#rb1").attr("checked", false);
                    $("#rb2").attr("checked", false);
                    $("#rb3").attr("checked", true);
                }
                FillDropdown_PropertType(selectedDT);
            

            });
            function FillDropdown_PropertType(Type) {
                debugger;
                var ddlCustomers = $("#ddlCustomers");
                ddlCustomers.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
                $.ajax({
                    url: '@Url.Action("GetPropertyTypes", "Property")',
                    dataType: "Json",
                    type: "POST",
                    cache: false,
                    data: { Type: Type },
                    success: function (response) {
                        debugger;
                        ddlCustomers.empty().append('<option selected="selected" value="0">All Home Types</option>');
                        $.each(response, function () {
                            ddlCustomers.append($("<option></option>").val(this['Value']).html(this['Text']));
                        });
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }

            $("#sort-type").change(function () {
                var IsList = $('.listing-sort__link--active').parent().attr('id');
                debugger;
                $.ajax({
                    url: '@Url.Action("Index", "Property")',
                    dataType: "html",
                    type: "POST",
                    cache: false,
                    data: { Type: "", IsList: IsList, Sort: $('option:selected', this).val() },
                    success: function (data) {
                        debugger;
                        $("#grid-list").html('');
                        $("#grid-list").html(data);
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
               
            });
        $(".ListOrGrid").click(function () {
            debugger;
            $.ajax({
                url: '@Url.Action("Index", "Property")',
                dataType: "html",
                type: "POST",
                cache: false,
                data: { Type: '', IsList: $(this).attr('id') },
                success: function (data) {
                    debugger;
                    $("#grid-list").html('');
                    $("#grid-list").html(data);
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        });

            $('#btnAppointment').click(function () {
                debugger;
                var name =     $("input[name='name']").val();
                var lastname = $("input[name='lastname']").val();
                var email =    $("input[name='email']").val();
                var phone =    $("input[name='phone']").val();
                var date =     $("input[name='date']").val();
                var time =     $('#listing-time').val();
                var comment = $("textarea[name='comment']").val();
                if (name == "")
                {
                    $("input[name='name']").addClass('error-border');
                    $("input[name='email']").removeClass('error-border');
                    $("input[name='date']").removeClass('error-border');
                    return false;
                }
                if (email == "")
                {
                    $("input[name='email']").addClass('error-border');
                    $("input[name='name']").removeClass('error-border');
                    $("input[name='date']").removeClass('error-border');
                    return false;
                }
                if (date == "") {
                    $("input[name='date']").addClass('error-border');
                    $("input[name='email']").removeClass('error-border');
                    $("input[name='name']").removeClass('error-border');
                    return false;
                }
                $.ajax({
                    url: '@Url.Action("SaveAppointment", "Common")',
                    dataType: "Json",
                    type: "POST",
                    cache: false,
                    data: { FirstName: name, LastName: lastname, Email: email, PhoneNumber: phone, AppointmentDate: date, AppointmentTime: time, Notes: comment },
                    success: function (data) {
                        debugger;
                        $("input[name='name']").val('');
                        $("input[name='lastname']").val('');
                        $("input[name='email']").val('');
                        $("input[name='phone']").val('');
                        $("input[name='date']").val('');
                        $('#listing-time').val('');
                        $("textarea[name='comment']").val('');
                        $('#modal-dialog').modal('toggle');
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            });

            $(".Search").click(function () {
                debugger;
                var Type = $("input[name='Type']:checked").val();
                var HomeType = $("#ddlCustomers").val();
                var Keyword = $('#main-listing-keyword').val();
                var Status = $('#listing-status').val();
                var Bedroom = $('#listing-bedroom').val();
                var Bathroom = $('#listing-bathroom').val();
                var MinPrice = $('#min-price').val();
                var MaxPrice = $('#max-price').val();
                $.ajax({
                    url: '@Url.Action("Index", "Property")',
                    dataType: "html",
                    type: "POST",
                    cache: false,
                    data: { Type: Type, IsList: $(this).attr('id'), HomeType: HomeType, Keyword: Keyword, Status: Status, Bedroom: Bedroom, Bathroom: Bathroom, MinPrice: MinPrice, MaxPrice: MaxPrice },
                    success: function (data) {
                        debugger;
                        $("#grid-list").html('');
                        $("#grid-list").html(data);
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            });

            //Contact us
            $('#btnSave').click(function () {
                debugger;
              
                var response = grecaptcha.getResponse();

                if ($("input[name=username]").val() == "") {
                    $("input[name=username]").addClass('error-txt');
                    $("input[name=lastname]").removeClass('error-txt');
                    $("input[name=phn]").removeClass('error-txt');
                    $("input[name=email]").removeClass('error-txt');
                    $('#message1').html('This field is required');
                    $('#message2').html('');
                    $('#message3').html('');
                    $('#message4').html('');
                }
                else if ($("input[name=lastname]").val() == "") {
                    $("input[name=lastname]").addClass('error-txt');
                    $("input[name=username]").removeClass('error-txt');
                    $("input[name=phn]").removeClass('error-txt');
                    $("input[name=email]").removeClass('error-txt');
                    $('#message2').html('This field is required');
                    $('#message1').html('');
                    $('#message3').html('');
                    $('#message4').html('');
                }
                else if ($("input[name=phn]").val() == "") {
                    $("input[name=phn]").addClass('error-txt');
                    $("input[name=lastname]").removeClass('error-txt');
                    $("input[name=username]").removeClass('error-txt');
                    $("input[name=email]").removeClass('error-txt');
                    $('#message3').html('This field is required');
                    $('#message1').html('');
                    $('#message2').html('');
                    $('#message4').html('');
                }
                else if ($("input[name=email]").val() == "") {
                    $("input[name=email]").addClass('error-txt');
                    $("input[name=phn]").removeClass('error-txt');
                    $("input[name=lastname]").removeClass('error-txt');
                    $("input[name=username]").removeClass('error-txt');
                    $('#message4').html('This field is required');
                    $('#message1').html('');
                    $('#message2').html('');
                    $('#message3').html('');
                   
                }
                else if (response.length == 0) {
                    $('#message6').html('The captcha field is required');
                    $("input[name=email]").removeClass('error-txt');
                    $("input[name=phn]").removeClass('error-txt');
                    $("input[name=lastname]").removeClass('error-txt');
                    $("input[name=username]").removeClass('error-txt');
                    $('#message4').html('');
                    $('#message1').html('');
                    $('#message2').html('');
                    $('#message3').html('');
                }
               
             
               

                if ($("input[name=username]").val() != "" && response.length != 0 && $("input[name=lastname]").val() != "" && $("input[name=email]").val() != "" && $("input[name=phn]").val() != "") {

                    $.ajax({

                        url: "/Common/Contact",
                        data: { 'username': $("input[name=username]").val(), 'lastname': $("input[name=lastname]").val(), 'Email': $("input[name=email]").val(), 'phn': $("input[name=phn]").val(), 'message': $("textarea[name=message]").val() },
                        type: "POST",
                        dataType: 'json',
                        success: function (data) {
                            debugger;
                            $('#message1').html('');
                            $('#message3').html('');
                            $('#message2').html('');
                            $('#message4').html('');
                            $('#message5').html('');
                            $('#message6').html('');
                            $("input[name=username]").val('');
                            $("input[name=lastname]").val('');
                            $("input[name=email]").val('');
                            $("input[name=phn]").val('');
                            $("textarea[name=message]").val('');
                            alert('Mail has been sent to admin. You will be contacted shortly.');
                            grecaptcha.reset();
                            return false;
                        },
                        error: function () {

                            alert("Dynamic content load failed.");
                        }
                    });
                }
            });
    });


    </script>
</body>
</html>
