<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <meta name="description" content="ReaLand - Real Estate HTML Template">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="">
    <!-- <link rel="shortcut icon" href="images/favicon.ico"> -->
    <!-- Mobile specific meta -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone-no">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- External Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:700,800|Roboto:400,500,700" rel="stylesheet">


 
    @Styles.Render("~/Content/home")
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-1.12.4.min.js"></script>
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>

    @{
        Html.RenderPartial("Header_Partial");
    }

    
   
        @RenderBody()

    @{
        Html.RenderPartial("Footer_Partial");
    }


    @*@Scripts.Render("~/bundles/home")*@
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyCxHyc8z9gMA5IlipXpt0c33Ajzqix4"></script>
    <script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js"></script>*@
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
   

    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            debugger;
            $('#header').addClass('header--top');
            $('.register,.login').click(function (event) {
                debugger;
                $('#modal-dialog-register').modal('show')
            });
            $('#btnLogin').click(function () {
                debugger;
                $("form[name='registration']").validate({
                    // Specify validation rules

                    rules: {
                        // The key name on the left side is the name attribute
                        // of an input field. Validation rules are defined
                        // on the right side

                        email: {
                            required: true,
                            // Specify that email should be validated
                            // by the built-in "email" rule
                            email: true
                        },
                        password: {
                            required: true,
                            minlength: 5
                        }
                    },
                    // Specify validation error messages
                    messages: {

                        password: {
                            required: "Please provide a password",
                            minlength: "Your password must be at least 5 characters long"
                        },
                        email: "Please enter a valid email address"
                    },
                    // Make sure the form is submitted to the destination defined
                    // in the "action" attribute of the form when valid
                    submitHandler: function (form) {
                        form.submit();
                    }
                });
            });
            $('#btnFinish').click(function () {
                debugger;
             var Firstname=   $("input[name=firstname]").val();
             var LastName = $("input[name=lastname]").val();
             var Email = $("input[name=email]").val();
             var Password = $("input[name=password]").val();
             var Street = $("input[name=Street]").val();
             var City = $("input[name=City]").val();
             var State = $("input[name=State]").val();
             var country = $("input[name=country]").val();
            
             $.ajax({

                 url: "/Account/Register",
                 data: { Firstname: Firstname, LastName: LastName, Email: Email, Password: Password, Street: Street, City: City, State: State, country: country },
                 type: "POST",
                 dataType: 'json',
                
                 success: function (data) {
                     debugger;
                     var file_data = $("#wizard-picture").prop("files")[0];   // Getting the properties of file from file field
                     var form_data = new FormData();                  // Creating object of FormData class
                     form_data.append("file", file_data)
                     form_data.append("UserId", data) // Adding extra parameters to form_data
                     $.ajax({
                         url: "/Account/Upload",
                         dataType: 'script',
                         cache: false,
                         contentType: false,
                         processData: false,
                         data: form_data,                         // Setting the data attribute of ajax with file_data
                         type: 'post',
                         success: function (data) {
                         },
                         error: function () {

                             alert("Dynamic content load failed.");
                         }
                     })
                     $("input[name=firstname]").val('');
                     $("input[name=lastname]").val('');
                     $("input[name=email]").val('');
                     $("input[name=password]").val('');
                     $("input[name=repassword]").val('');
                     $("input[name=Street]").val('');
                     $("input[name=City]").val('');
                     $("input[name=State]").val('');
                     $("input[name=country]").val('');
                     $('#modal-dialog-register').modal('toggle');
                     alert('You have successfully registered.');
                 },
                 error: function () {

                     alert("Dynamic content load failed.");
                 }
             });
            });

            $(".Search").click(function () {
                debugger;
                var Type = $('#property-type').val();
                var HomeType = "";
                var Keyword = $('#keywords').val();
                var Status = $('#Status').val();
                var Bedroom = $('#bedrooms').val();
                var Bathroom = $('#bathrooms').val();
                var MinPrice = $('#min-price').val();
                var MaxPrice = $('#max-price').val();
                window.location.href = "/Property/Index?Type=" + Type + "&IsList=" + $(this).attr('id') + "&Ishome=true&HomeType=" + HomeType + "&Keyword=" + Keyword + "&Status=" + Status + "&Bedroom=" + Bedroom + "&Bathroom=" + Bathroom + "&MaxPrice=" + MaxPrice + "&MinPrice=" + MinPrice;
                @*$.ajax({
                    url: '@Url.Action("Index", "Property")',
                    dataType: "JSON",
                    type: "POST",
                    cache: false,
                    data: { Type: Type, IsList: $(this).attr('id'),Ishome:true, HomeType: HomeType, Keyword: Keyword, Status: Status, Bedroom: Bedroom, Bathroom: Bathroom },
                    success: function (data) {
                        debugger;
                        return true;
                        //$("#grid-list").html('');
                        //$("#grid-list").html(data);
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });*@
                });
        });
    </script>
</body>
</html>
