<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <meta name="description" content="ReaLand - Real Estate HTML Template">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="">
    <!-- <link rel="shortcut icon" href="images/favicon.ico"> -->
    <!-- Mobile specific meta -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone-no">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- External Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:700,800|Roboto:400,500,700" rel="stylesheet">


 
    @Styles.Render("~/Content/home")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>

    @{
        Html.RenderPartial("Header_Partial");
    }

    
   
        @RenderBody()

    @{
        Html.RenderPartial("Footer_Partial");
    }


    @Scripts.Render("~/bundles/home")
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyCxHyc8z9gMA5IlipXpt0c33Ajzqix4"></script>
    <script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js"></script>*@
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            debugger;
            $('#header').addClass('header--top');

            $(".Search").click(function () {
                debugger;
                var Type = $('#property-type').val();
                var HomeType = "";
                var Keyword = $('#keywords').val();
                var Status = $('#Status').val();
                var Bedroom = $('#bedrooms').val();
                var Bathroom = $('#bathrooms').val();
                var MinPrice = $('#min-price').val();
                var MaxPrice = $('#max-price').val();
                window.location.href = "/Property/Index?Type=" + Type + "&IsList=" + $(this).attr('id') + "&Ishome=true&HomeType=" + HomeType + "&Keyword=" + Keyword + "&Status=" + Status + "&Bedroom=" + Bedroom + "&Bathroom=" + Bathroom + "&MaxPrice=" + MaxPrice + "&MinPrice=" + MinPrice;
                @*$.ajax({
                    url: '@Url.Action("Index", "Property")',
                    dataType: "JSON",
                    type: "POST",
                    cache: false,
                    data: { Type: Type, IsList: $(this).attr('id'),Ishome:true, HomeType: HomeType, Keyword: Keyword, Status: Status, Bedroom: Bedroom, Bathroom: Bathroom },
                    success: function (data) {
                        debugger;
                        return true;
                        //$("#grid-list").html('');
                        //$("#grid-list").html(data);
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });*@
            });
        });
    </script>
</body>
</html>
